.bouton{
    background: linear-gradient(to left, #6156F9, #1A129F);
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 50%;
    padding: 2px 25px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}